.container {
  margin-left: 3%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container .title {
  font-size: 32pt;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
}

.container .tagline {
  font-size: 14pt;
  font-weight: normal;
  padding-left: 15px;
  width: 90%;
}
