header {
  float: left;
  width: 20%;
  background: #525f81;
  padding: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  height: 100%;
}

a {
  text-decoration: none;
}
  
.logo-text {
  font-size: 20px;
}

.logo-text a {
  color: #FFFFFF;
}

.tagline {
  text-align: center;
  font-size: 11pt;
  font-weight: normal;
  line-height: 1.5;
  width: 80%;
}

.logo-image {
  position: absolute;
  margin: 0;
  opacity: .4;
}
