header {
  position: fixed;
  width: 220px;
  background: #525f81;
  padding: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  height: 100%;
}

a {
  text-decoration: none;
}

.logo {
  margin-bottom: 15px;
}

.logo-text {
  margin-bottom: 0;
  font-size: 20px;
  white-space: nowrap;
}

.logo-text a {
  color: #FFFFFF;
  margin: 0;
}

.tagline {
  text-align: center;
  font-size: 11pt;
  font-weight: normal;
  line-height: 1.5;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.logo-image {
  position: absolute;
  margin: 0;
  z-index: -1;
  opacity: .4;
}
