header {
  position: fixed;
  width: 220px;
  background: #525f81;
  padding: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  height: 100%;
}

header a {
  text-decoration: none;
  color: #FFFFFF;
}

header ul {
  list-style-type: none;
  text-align: center;
}

header li {
  display: inline;
  padding-left: 5px;
}

header .logo {
  margin-bottom: 15px;
}

header .logo-text {
  margin-bottom: 0;
  font-size: 20px;
  white-space: nowrap;
}

header .logo-text a {
  margin: 0;
}

header .tagline {
  text-align: center;
  font-size: 11pt;
  font-weight: normal;
  line-height: 1.5;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

header .tagline-banner {
  margin-bottom: 25px;
}

header .logo-image {
  position: absolute;
  margin: 0;
  z-index: -1;
  opacity: .4;
}
