.container ul {
  list-style-type: none;
}

.container li {
  color: #000000;
  background-color: #FBFBFB;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 2%;
  width: 90%;
  text-align: center;
}

.container li h1 {
  margin-bottom: 10px;
}

.container .firstPostEntry li {
  height: 200px;
}

.container a {
  text-decoration: none;
  color: #000000;
}
