
<header class="header dark-bg">
    <a href="#menu" class="mobile-only mobile-menu-button button"> <i class="icon fa fa-fw fa-bars icon-menu" aria-hidden="true"></i> </a>
    <div class="logo header-module">
        <h1 class="logo-text"><a href="/">MetroLab Project Ideas</a></h1>
        <h1 class="logo-image">
            <a href="/">
                <img src="http://i.imgur.com/bJW9WMa.png" alt="MetroLab Project Ideas">
            </a>
        </h1> </div>
    <div class="tagline-banner">
        <h3 class="tagline"><span>A place for Seattleites to discuss project ideas to consider for the MetroLab partnership between the City of Seattle and University of Washington</span></h3> </div>
    <nav>
		<ul>
    		<li><a href="/">Home</a></li>
        	<li><a href="/news">News</a></li>
    		<li><a href="https://metrolab.herokuapp.com">Projects</a></li>
		</ul>
	</nav>
</header>
